## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("hotels.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,27,Celestun,MX,80.55,overcast clouds,20.8667,-90.4000,Posada Lilia
1,33,Fare,PF,80.19,clear sky,-16.7000,-151.0167,Maitai Lapita Village Huahine
2,42,Pedernales,DO,80.56,few clouds,18.0384,-71.7440,Hotel Costa Marina
3,49,Faanui,PF,81.00,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,51,Kampong Thum,KH,80.56,overcast clouds,12.7111,104.8887,Sambor Village Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# 4b. Display the figure

fig = gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "San Ramon")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "San Ramon")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Fort Smith")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Russell")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Wilmington")] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,128,San Ramon,US,81.48,clear sky,37.7799,-121.978,San Ramon Marriott

In [114]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np

start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_end[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

start

array([[  37.7799, -121.978 ]])

In [164]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# maps_start = start
# maps_end = end

maps_start = start
maps_stop1 = stop1
maps_stop2 = stop2
maps_stop3 = stop3
maps_end = end

fig = gmaps.figure()
directions = gmaps.directions_layer(maps_start[0], maps_end[0], waypoints=[maps_stop1[0],maps_stop2[0],maps_stop3[0]], travel_mode = 'DRIVING')
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))

In [170]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,128,San Ramon,US,81.48,clear sky,37.7799,-121.9780,San Ramon Marriott
1,389,Fort Smith,US,80.64,broken clouds,35.3859,-94.3986,Hampton Inn Fort Smith
2,471,Russell,US,80.96,broken clouds,32.3502,-85.1999,Macs
3,346,Wilmington,US,80.98,scattered clouds,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."

In [171]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [172]:
# 11a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)


fig = gmaps.figure()
fig.add_layer(marker_layer)
fig


# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))